
   body {
  font-family: Arial, sans-serif;
  background-image: url('/static/images/bg1.jpg');
  background-size: cover;
  background-position: center;
  background-color: #5a5959; /* in case image fails */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

    .container {
      width: 400px;
      background: rgb(233, 229, 229);
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    input {
      width: 95%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    button:hover {
      background: #45a049;
    }

    .link {
      text-align: center;
      margin-top: 10px;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }
 