/* General Page Style */
body {
  background-image: url("/static/images/bg1.jpg");   /* image file */
  background-size: cover;           /* full screen */
  background-position: center;      /* center image */
  background-repeat: no-repeat;     /* no repeating */
}


/* Header */
header {
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 250px;
  margin-right: 10px;
}

header h1 {
  color: #000;
  margin: 0;
  font-size: 28px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

nav a:hover {
  color: #555;
}

/* Hero Section */
.hero {
  text-align: center;
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 80px;
  background: #ffffff;
  color: #000;
  margin: 0;
}

.hero h3 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* Section Styling */
/*section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}
*/
h3 {
  color: #000;
  font-size: 30px;
  margin-bottom: 15px;
}

/* Program Cards */
.programs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h4 {
  margin: 0 0 10px;
  color: #000;
}

/* Banner Section */
.banner-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.banner-images img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #fff;
  margin-top: 50px;
}
 body { margin: 0; font-family: Arial, sans-serif; background: #717171; color: #333; }
    header { background: #fff; padding: 20px; display: flex; justify-content: space-between; align-items: center; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
    .logo { display: flex; align-items: center; }
    .logo img { width: 50px; margin-right: 10px; }
    header h1 { color: #000; margin: 0; font-size: 28px; }
    nav a { margin-left: 20px; text-decoration: none; color: #000; font-size: 18px; }
    nav a:hover { color: #555; }

    /*.hero { text-align: center; padding: 80px 20px; color: #000; }
    .hero h2 { }
    .hero p { max-width: 700px; margin: auto; font-size: 18px; }
    .hero button { margin-top: 20px; padding: 12px 25px; background: #000; color: #fff; border: none; border-radius: 10px; font-size: 18px; cursor: pointer; }
*/
    /*section { max-width: 1000px; margin: 50px auto; padding: 20px; }*/
    h3 { color: #000; font-size: 30px; margin-bottom: 15px; }
    .programs { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 20px; }
    .card { background: #ffffff; padding: 200px; border-radius: 12px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
    .card-img {width: 100%;height: auto;object-fit: contain; border-style: double ;align-items: center;border-radius: 10px;margin-bottom: 12px;}
    .card:hover{border-color: #007bff ;box-shadow: 0 4px 12px rgba(0, 0,0, 15);}
    .card h4{ text-align: center;margin: 10px 0 5px;margin-top: 12px;}
    .card p{ text-align: center;}
    .slider {
  width: 100%;
  max-width: 1000px;
  
  height: 350px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit:fill;   /* use cover if you want full fill */
  border-radius: 10px;
  display: none;
}


    .banner-images { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; margin-top: 20px; }
    .banner-images img { width: 100%; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }

    footer { text-align: center; padding: 20px; background: #000; color: #fff; margin-top: 50px; }
  body {
  background-image: url('ibg.jpg');   /* image file */
  background-size: cover;           /* full screen */
  background-position: center;      /* center image */
  background-repeat: no-repeat;     /* no repeating */
}


/* Header */
header {
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 250px;
  margin-right: 10px;
}

header h1 {
  color: #000;
  margin: 0;
  font-size: 28px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

nav a:hover {
  color: #555;
}

/* Hero Section */
/*.hero {
  text-align: center;
  padding: 80px 20px;
  background: #ffffff;
  color: #000;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
}*/

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* Section Styling */
section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

h3 {
  color: #000;
  font-size: 30px;
  margin-bottom: 15px;
}

/* Program Cards */
.programs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h4 {
  margin: 0 0 10px;
  color: #000;
}

/* Banner Section */
.banner-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.banner-images img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #fff;
  margin-top: 50px;
}
.sli {
  width: 100%;
  overflow: hidden;
  background: #222;
  
}

.sli p {
  color: #fff;
  white-space: nowrap;
  animation: slide 12s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-120%);
  }
}



/* Button style */
.ap {
  padding: 10px 20px;
  background: rgb(114, 114, 114);
  color: rgb(11, 1, 1);
  text-decoration: none;
  border-radius: 5px;
  border: 2px double black;
  font-size: 16px;
}
.ap:hover {
  background: rgb(245, 245, 247);
  transform: translateX(10px); 
}
.ap{
  animation: moveRight 1s ease forwards;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px); /* move right */
  }
}
.sec{
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background:linear-gradient(135deg,#1e3c72,#2a5298);
  border-radius: 12px;
}
.sec h3{
  color:#ffffff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
}

#contact-highlights {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  padding: 50px 20px;
}

.contact-box {
  width: 240px;
  background: rgb(255, 255, 255);
  padding: 25px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 15px;
}

/* Hover Effect */
.contact-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.contact-box h3 {
  color: #1e3c72;
  margin-bottom: 12px;
  font-size: 18px;
}

.contact-box p {
  color: #333;
  font-size: 14px;
  line-height: 1.6;
}
.heading-highlight {
  text-align: center;
  margin: 20px 0;
}

.heading-highlight h2 {
  font-family:Arial, sans-serif;
  color: #fbfbfb;
  font-size: 28px;
  margin-bottom: 10px;
}

.heading-highlight span {
  display: inline-block;
  width: 70px;
  height: 4px;
  background: #131313;
  border-radius: 2px;
}
.heading-highlight h2:hover {
  letter-spacing: 1px;
  transition: 0.3s;
}


