<html>
  <link rel="stylesheet" href="/static/css/style3.css">
    <body>
      <div class="container" id="loginBox">
        <h2>Register</h2>
<form method="POST" action="{{ url_for('register') }}">
    <input type="text" name="name" placeholder="Full Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="tel" name="phone" placeholder="Mobile" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm" placeholder="Confirm Password" required>
    <button type="submit">Register</button>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, msg in messages %}
<p class="{{ category }}">{{ msg }}</p>
{% endfor %}
{% endwith %}

 
    <div class="link">
      <a href="{{ url_for('login') }}">Already have an account?</a>
    </div>
    </div>
  </body>
  </html>